{% extends "home/base.html" %}
{% load static %}
{% block title %} About Us {% endblock %}

{% block meta_content %} "Recreating Values" {% endblock %}
{% block content %}

<div id="banner-area" class="banner-area" style="background-image:url({% static "images/banner/banner9.jpg" %})">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">About</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">organization</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">WHO WE ARE</h1>
        </div>
          <p class="col-12"> Recreating values is an acitivity of great minds that is channeled towards the transformation of africa from a third world continent to a first world continent through the recreation of lost societal values which are fundumental 
            to the core of any nation building. Values are treasures that people hold dear and by recreating these values, we hope to refreshen and enliven them again in the african space so as to 
            evoke a renewed interest and vigor in observing and practicing them</p>
    </div><!-- Content row end -->
      <div class="row align-items-center mt-4">
          <div class="col-lg-6">
            <h3 class="column-title mb-2">OUR MISSION</h3>
            <p> In Recreating values, we build a better society for our progeny. We hope to acheive this through inculcating the necessary values a great nation ought to have into the African peoples, most especially children and young adults who are still malleable. We also spark up conversations in various quarters by organising talks, 
              symposia, and debates in order tp engage our people, children and adults in discussions on developing Africa. Small things when neglected crumble bigger things. These things may seem insignificant but they are the causative agents of change in any developed society. We also sensitise through our writings 
              and community outreach, our doctors, lawyers, teachers, nurses, engineers, priests, pastors, farmers, traders, scientists, researchers, jounalists, police, military, politicians, authors, civil servants, bankers, artisans(bricklayers, carpenters, plumbers, electrcians, painters, artists), industrialists, actors, musicians 
              etc that their professions and jobs are great and essential to the society and they should practice and live out the required values inherent in their profession in order to develop and create a healthy community of dignified leaders and gentlemen who are living up to their full potentials.
            </p>
  
          </div><!-- Col end -->
  
          <div class="col-lg-6 mt-5 mt-lg-0">
            
            <div id="page-slider" class="page-slider small-bg">
  
                <div class="item" style="background-image:url({% static "images/slider-pages/slide-page1.jpg" %})">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Leadership</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
  
                <div class="item" style="background-image:url({% static "images/slider-pages/slide-page2.jpg" %})">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Virtues</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
  
                <div class="item" style="background-image:url({% static "images/slider-pages/slide-page3.jpg" %})">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Values</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
            </div><!-- Page slider end-->          
          
  
          </div><!-- Col end -->
      </div><!-- Content row end -->
    </div><!-- Container end -->

    <!-- 
    <div class="container mt-5">
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <h3 class="column-title text-center">IF WE VALUE, WE WILL HAVE...</h3>
           </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                    <img loading="lazy" src="{% static "images/icon-image/life.png" %}" alt="service-icon">    
              </div>
            <div class="col-lg-10 text-center">
              <h4 class="">LIFE</h4>
              <p>Good hospitals, good insurance schemes, dedicated doctors and nurses</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                    <img loading="lazy" src="{% static "images/icon-image/truth.png" %}" alt="service-icon">    
              </div>
            <div class="col-lg-10 text-center">
              <h4 class="">TRUTH</h4>
              <p>Fairness, patroitic spirits and no corruption</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                    <img loading="lazy" src="{% static "images/icon-image/justice.png" %}" alt="service-icon">    
              </div>
            <div class="col-lg-10 text-center">
              <h4 class="">JUSTICE</h4>
              <p>Good legal system and have our human rights protected</p>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
                  <img loading="lazy" src="{% static "images/icon-image/hardwork.png" %}" alt="service-icon">    
            </div>
          <div class="col-lg-10 text-center">
            <h4 class="">HARDWORK</h4>
            <p>no shortcuts to success, no craze for wealth, no cyber theives, no mediocrity but dedication to our duty and excellence</p>
          </div>
      </div>    
      <div class="row">
        <div class="col-lg-2">
                <img loading="lazy" src="{% static "images/icon-image/environment.png" %}" alt="service-icon">    
          </div>
        <div class="col-lg-10 text-center">
          <h4 class="">CLEAN ENVIRONMENT</h4>
          <p>good refuse disposal, clean drainage and recycle wastes</p>
        </div>
    </div>  
    <div class="row">
      <div class="col-lg-2">
              <img loading="lazy" src="{% static "images/icon-image/love.png" %}" alt="service-icon">    
        </div>
      <div class="col-lg-10 text-center">
        <h4 class="">LOVE</h4>
        <p>good families, good society and good people</p>
      </div>
  </div> 
  <div class="row">
    <div class="col-lg-2">
            <img loading="lazy" src="{% static "images/icon-image/agric.png" %}" alt="service-icon">    
      </div>
    <div class="col-lg-10 text-center">
      <h4 class="">AGRICULTURE</h4>
      <p>abundant food and no hunger</p>
    </div>
</div>      
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/product.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">STANDARD PRODUCTS</h4>
    <p>no fake drugs and no fake products</p>
  </div>
</div>       
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/truth.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">RELIABILITY AND TRANSPARENCY</h4>
    <p>Good reputation and trust for one another</p>
  </div>
</div>  
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/hardwork.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">COMMITMENT TO OUR DUTY</h4>
    <p>great and formidable action</p>
  </div>
</div>      
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/life.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">THE POOR</h4>
    <p>A good housing system, good transportation system with subsidies</p>
  </div>
</div>         
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/article.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">PROPER EDUCATION</h4>
    <p>Good schools with ingenious inventions and discoveries</p>
  </div>
</div>        
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/people.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">NATION BUILDING</h4>
    <p>Good roads, employment, constant power supply, etc.</p>
  </div>
</div>
      </div>
      -->


  </section><!-- Main container end -->
  {% include "facts.html" with events=events projects=projects %}
  <section class="main-container">
    <div class="container">
      <div class="row align-items-center mt-5">
        <div class="col-lg-6">
          <h3 class="column-title mb-2">OUR VISION</h3>
          <p>In developed climes, there are certain operating values instrumental to their development. For example, they work hard are truthful and clean and so on. As a result of this, they have a serious working population, an equitable justice system and clean environnments, respectively amongst others. Obviously, 
            the African nations are deficient in these values, which results in deriliction to duty, injustice and often squalid environments. The basic element of nation building is not the government but the citizens, the people. The duty of the government is simply to provide for thre citizens  what they really need to work with. If Africa
          imbibes the core societal values of positive hardwork and excellence and shuns mediocrity,our growth will be at a geometric progression. Our different systems will be efficient: the justice system, education system, economic system, political system , health system and so on. Africans are intelligent and we can rule the world. Let all hands be on deck.
        So help us God  </p>


        </div><!-- Col end -->
        <div class="col-lg-6 mt-5 mt-lg-0">
          
          <div id="page-slider" class="page-slider small-bg">

              <div class="item" style="background-image:url({% static "images/slider-pages/slide-page1.jpg" %})">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Leadership</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 1 end -->

              <div class="item" style="background-image:url({% static "images/slider-pages/slide-page2.jpg" %})">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Virtues</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 1 end -->

              <div class="item" style="background-image:url({% static "images/slider-pages/slide-page3.jpg" %})">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Values</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 1 end -->
          </div><!-- Page slider end-->          
        

        </div><!-- Col end -->
  
    </div><!-- Content row -->

    </div><!-- Container end -->

    <!-- 
    <div class="container mt-5">
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <h3 class="column-title text-center">IF WE VALUE, WE WILL HAVE...</h3>
           </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                    <img loading="lazy" src="{% static "images/icon-image/life.png" %}" alt="service-icon">    
              </div>
            <div class="col-lg-10 text-center">
              <h4 class="">LIFE</h4>
              <p>Good hospitals, good insurance schemes, dedicated doctors and nurses</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                    <img loading="lazy" src="{% static "images/icon-image/truth.png" %}" alt="service-icon">    
              </div>
            <div class="col-lg-10 text-center">
              <h4 class="">TRUTH</h4>
              <p>Fairness, patroitic spirits and no corruption</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                    <img loading="lazy" src="{% static "images/icon-image/justice.png" %}" alt="service-icon">    
              </div>
            <div class="col-lg-10 text-center">
              <h4 class="">JUSTICE</h4>
              <p>Good legal system and have our human rights protected</p>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
                  <img loading="lazy" src="{% static "images/icon-image/hardwork.png" %}" alt="service-icon">    
            </div>
          <div class="col-lg-10 text-center">
            <h4 class="">HARDWORK</h4>
            <p>no shortcuts to success, no craze for wealth, no cyber theives, no mediocrity but dedication to our duty and excellence</p>
          </div>
      </div>    
      <div class="row">
        <div class="col-lg-2">
                <img loading="lazy" src="{% static "images/icon-image/environment.png" %}" alt="service-icon">    
          </div>
        <div class="col-lg-10 text-center">
          <h4 class="">CLEAN ENVIRONMENT</h4>
          <p>good refuse disposal, clean drainage and recycle wastes</p>
        </div>
    </div>  
    <div class="row">
      <div class="col-lg-2">
              <img loading="lazy" src="{% static "images/icon-image/love.png" %}" alt="service-icon">    
        </div>
      <div class="col-lg-10 text-center">
        <h4 class="">LOVE</h4>
        <p>good families, good society and good people</p>
      </div>
  </div> 
  <div class="row">
    <div class="col-lg-2">
            <img loading="lazy" src="{% static "images/icon-image/agric.png" %}" alt="service-icon">    
      </div>
    <div class="col-lg-10 text-center">
      <h4 class="">AGRICULTURE</h4>
      <p>abundant food and no hunger</p>
    </div>
</div>      
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/product.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">STANDARD PRODUCTS</h4>
    <p>no fake drugs and no fake products</p>
  </div>
</div>       
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/truth.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">RELIABILITY AND TRANSPARENCY</h4>
    <p>Good reputation and trust for one another</p>
  </div>
</div>  
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/hardwork.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">COMMITMENT TO OUR DUTY</h4>
    <p>great and formidable action</p>
  </div>
</div>      
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/life.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">THE POOR</h4>
    <p>A good housing system, good transportation system with subsidies</p>
  </div>
</div>         
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/article.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">PROPER EDUCATION</h4>
    <p>Good schools with ingenious inventions and discoveries</p>
  </div>
</div>        
<div class="row">
  <div class="col-lg-2">
          <img loading="lazy" src="{% static "images/icon-image/people.png" %}" alt="service-icon">    
    </div>
  <div class="col-lg-10 text-center">
    <h4 class="">NATION BUILDING</h4>
    <p>Good roads, employment, constant power supply, etc.</p>
  </div>
</div>
      </div>
      -->


  </section><!-- Main container end -->

  {% include "socials_join.html" %}

  
  <section id="ts-team" class="ts-team">
    <div class="container">
      <div class="row text-center">
          <div class="col-lg-12">
            <h2 class="section-title">Shaping Tomorrow</h2>
            <h3 class="section-sub-title">Meet the Executives</h3>
          </div>
      </div><!--/ Title row end -->
  
      <div class="row">
          <div class="col-lg-12">
            <div id="team-slide" class="team-slide">
                <div class="item">
                  <div class="ts-team-wrapper">
                      <div class="team-img-wrapper">
                        <img loading="lazy" class="w-100" src="{% static "images/team/team1.jpg" %}" alt="team-img">
                      </div>
                      <div class="ts-team-content">
                        <h3 class="ts-name">Rev. Fr Obiagwu Val</h3>
                        <p class="ts-designation">Founder</p>
                        <p class="ts-description">Rev Fr Obiagwu Valentine founded the RV platform in 2022</p>
                        <div class="team-social-icons">
                            <a target="_blank" href="https://web.facebook.com/obiagwu.valentine"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://mobile.twitter.com/ValObiagwu"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="instagram.com/val_obiagwu?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="https://wa.me/+2348131043671"><i class="fab fa-whatsapp"></i></a>
                        </div><!--/ social-icons-->
                      </div>
                  </div><!--/ Team wrapper end -->
                </div><!-- Team 1 end -->
  
                <div class="item">
                  <div class="ts-team-wrapper">
                      <div class="team-img-wrapper">
                        <img loading="lazy" class="w-100" src="{% static "images/team/team3.jpg" %}" alt="team-img">
                      </div>
                      <div class="ts-team-content">
                        <h3 class="ts-name">Rev. FR Felix Ihediwa</h3>
                        <p class="ts-designation">Co Founder</p>
                        <p class="ts-description">Rev. Fr Felix Ihediwa co-founded the RV organization</p>
                        <div class="team-social-icons">
                            <a target="_blank" href="https://web.facebook.com/felix.ihediwa.3"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://wa.me/+2348082749380"><i class="fab fa-whatsapp"></i></a>
                        </div><!--/ social-icons-->
                      </div>
                  </div><!--/ Team wrapper end -->
                </div><!-- Team 2 end -->
  
                <div class="item">
                  <div class="ts-team-wrapper">
                      <div class="team-img-wrapper">
                        <img loading="lazy" class="w-100" src="{% static "images/team/team2.jpg" %}" alt="team-img">
                      </div>
                      <div class="ts-team-content">
                        <h3 class="ts-name">PHARM. O. Stanislaus</h3>
                        <p class="ts-designation">Co Founder</p>
                        <p class="ts-description">Obiagwu Stan CEO (stan pharmaceuticals) co-founded the RV organization</p>
                        <div class="team-social-icons">
                          <a target="_blank" href="https://web.facebook.com/stanislaus.obiagwu"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="https://mobile.twitter.com/obiagwuchukwudi"><i class="fab fa-twitter"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                          <a target="_blank" href="https://wa.me/+2347062447474"><i class="fab fa-whatsapp"></i></a>
                        </div><!--/ social-icons-->
                      </div>
                  </div><!--/ Team wrapper end -->
                </div><!-- Team 3 end -->  
            </div><!-- Team slide end -->
          </div>
      </div><!--/ Content row end -->
    </div><!--/ Container end -->
  </section><!--/ Team end -->
  
{% endblock %}