{% extends "home/base.html" %}
{% load static %}
{% block title %} Frequently asked questions {% endblock %}


{% block content %}

<div id="banner-area" class="banner-area" style="background-image:url({% static "images/banner/banner6.jpg" %})">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Faqs</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">organization</a></li>
                        <li class="breadcrumb-item active" aria-current="page">FAQs</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  <section id="main-container" class="main-container">
    <div class="container">
  
      <div class="row">
        <div class="col-lg-8">

          <h3 class="border-title border-left">WHO WE ARE? </h3>
  
          <div class="accordion accordion-group accordion-classic" id="who-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    We are ....
                  </button>
                </h2>
              </div>
  
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                data-parent="#who-accordion">
                <div class="card-body">
                  RECREATING_VALUES, an activity of great minds that is channelled towards the transformation of Africa 
                   a third world continent to a first world continent through the recreation of lost societal values which 
                   are fundamental to the cause of any nation building. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    We are all about Values
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#who-accordion">
                <div class="card-body">
                  Values are treasures that a people hold dear and by recreating these values, 
                  we hope to refresh and enliven them again in the African space so as to evoke 
                  a renewed interest and vigour in observing and practicing them. We, the concerned
                   young adults, have seen the quagmire which our African leaders have plunged us into. 
                   We have explored the problems and we have seen that most of our leaders lacked some 
                    values and thus were shameless in certain wrong decisions they took. If they had these
                     values listed below, we would have been indomitable on the top of the world stage. 
                </div>
              </div>
            </div>
          </div>
          <!--/ Accordion end -->

          <div class="gap-40"></div>
  
          <h3 class="border-title border-left">What we do</h3>
  
          <div class="accordion accordion-group accordion-classic" id="what-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    What we do ?
                  </button>
                </h2>
              </div>
  
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                data-parent="#what-accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidata
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    What we do?
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#what-accordion">
                <div class="card-body">
                  Anemi nim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupid henderit in voluptate velit esse cillu oris nisi ut aliquip ex ea com
                  matat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    What we do?
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                data-parent="#what-accordion">
                <div class="card-body">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book.
                </div>
              </div>
            </div>
          </div>
          <!--/ Accordion end -->

          <div class="gap-40"></div>
  
          <h3 class="border-title border-left">How we work together </h3>
  
          <div class="accordion accordion-group accordion-classic" id="how-we-work-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                    Together we can
                  </button>
                </h2>
              </div>
  
              <div id="collapseSix" class="collapse show" aria-labelledby="headingSix"
                data-parent="#how-we-work-accordion">
                <div class="card-body">
                  Our work will require a lot of funds which is where we need a close affinity with you,
                  dear citizens and the government, so as to obtain funds to carry out our plans. This 
                   not what we can do alone. We need you. You can use your company, portfolio or paraphernalia 
                   to make changes both in your work place and in the society at large. You should sponsor certain 
                   positive initiatives like ours (just as certain events are sponsored by companies as form of adverts). 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingSeven">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                   Giving back to Society
                  </button>
                </h2>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#how-we-work-accordion">
                <div class="card-body">
                  By so doing, you are giving back to the society and adding value to the society and the polity.
                   The rich, your money is not to ‘enjoy life’ but to build people who actually patronised you                    
                   till you became rich. Without their patronage, you will not amass such wealth.
                   Let’s put it to good use and through that, immortalise your name forever. 
                </div>
              </div>
            </div>
          </div>
          <!--/ Accordion end -->

          <div class="gap-40"></div>
          <h3 class="border-title border-left">How You help Us</h3>

          <div class="accordion accordion-group accordion-classic" id="how-you-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingEight">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseEight"
                    aria-expanded="true" aria-controls="collapseEight">
                    Recreating Values: Beyond an Organization
                  </button>
                </h2>
              </div>
  
              <div id="collapseEight" class="collapse show" aria-labelledby="headingEight"
                data-parent="#how-you-accordion">
                <div class="card-body">
                  RECREATING_VALUES is not really a business name, it is also not necessarily a non-governmental 
                  organisation but a philosophy of life, an era, a thought pattern, a discourse, a discussion that 
                  should be on the lips of people. It is a clarion call to change the wave of the moment, to move the
                   hand of history in our time for the better. It is a selfless venture that will launch our people into the very essence of their existence.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingNine">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    We solicit your funds and efforts
                  </button>
                </h2>
              </div>
              <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#how-you-accordion">
                <div class="card-body">
                  We will need money of course. This is simply altruism, helping one another with our resources. 
                  We don’t really sell anything. We sell ideas. 
                  You and I should recreate values both as we have listed above and in our own individual ways. 
                </div>
              </div>
            </div>
          </div>
          <!--/ Accordion end -->

          <div class="gap-40"></div>
          <h3 class="border-title border-left">Where We Are</h3>
  
          <div class="accordion accordion-group accordion-classic" id="where-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingTen">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTen"
                    aria-expanded="true" aria-controls="collapseTen">
                    Always within reach
                  </button>
                </h2>
              </div>
  
              <div id="collapseTen" class="collapse show" aria-labelledby="headingTen"
                data-parent="#where-accordion">
                <div class="card-body">
                  We are online. Interact with us on our social media handles. We are also offline. 
                  Our offices which will be present in every local government will serve as 
                   where we would interact closely with people at grassroots level to hear their 
                    and feel their pulse and then send their reports to the appropriate places 
                  even as we try to solve the ones we can. Our online office will be open 24/7.
                </div>
              </div>
            </div>
          </div>
          <!--/ Accordion end -->
          

          
  
        </div><!-- Col end -->
  
        <div class="col-lg-4 mt-5 mt-lg-0">
  
          <div class="sidebar sidebar-right">
            <div class="widget recent-posts">
              <h3 class="widget-title">Recent Posts</h3>
              <ul class="list-unstyled">        
                {% for recent_post in recent %}
                <li class="d-flex align-items-center">
                  <div class="posts-thumb">
                    <a href="#"><img loading="lazy" alt="img" src="{{ recent_post.main_image.url }}"></a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">{{ recent_post.title }}</a>
                    </h4>
                  </div>
                </li><!-- 1st post end-->
                {% endfor %}
              </ul>
  
            </div><!-- Recent post end -->
          </div><!-- Sidebar end -->
  
        </div><!-- Col end -->
  
      </div><!-- Content row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
{% endblock %}