{% extends "home/base.html" %}
{% load static %}
{% block title %} Recreating Values {% endblock %}


{% block content %}

<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url({% static "images/slider-main/bg5.jpg" %})">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">Welcome To</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">Recreating Values</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <a href="/homepage/about" class="slider btn btn-primary">About Us</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url({% static "images/slider-main/bg6.jpg" %})">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title-box" data-animation-in="slideInDown">Acheive and Accomplish</h2>
                <h3 class="slide-title" data-animation-in="fadeIn">Together We Can</h3>
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Redefine, Rejuvenate, Rebuild</h3>
                <p data-animation-in="slideInRight">
                    <a href="/homepage/contact" class="slider btn btn-primary">Let's Collaborate</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url({% static "images/slider-main/bg7.jpg" %})">
    <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title" data-animation-in="slideInDown">Next Year</h2>
                <h3 class="slide-sub-title" data-animation-in="fadeIn">Attend our upcoming symposiums</h3>
                <p class="slider-description lead" data-animation-in="slideInRight">We hope to enliven and refresh values in the African Sphere.</p>
                <div data-animation-in="slideInLeft">
                    <a href="/homepage/contact" class="slider btn btn-primary" aria-label="contact-with-us">Reservations</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
<section class="call-to-action-box no-padding">
    <div class="container">
      <div class="action-style-box">
          <div class="row align-items-center">
            <div class="col-md-8 text-center text-md-left">
                <div class="call-to-action-text">
                  <h3 class="action-title">Get to know more about us, our mission and vision</h3>
                </div>
            </div><!-- Col end -->
            <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                <div class="call-to-action-btn">
                  <a class="btn btn-dark" href="about">Learn</a>
                </div>
            </div><!-- col end -->
          </div><!-- row end -->
      </div><!-- Action style box -->
    </div><!-- Container end -->
  </section><!-- Action end -->
  
  <section id="ts-features" class="ts-features">
    <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ts-intro">
                <h2 class="into-title">About Us</h2>
                <h3 class="section-sub-title">We strive to <span class="alternate">recreate</span></h3>
                <p>Recreating Values is an activity of great minds that is channeled towards the transformation of Africa
                  from a third world continent to a first world continent through the recreation of lost societal values which 
                  are fundumental to any nation building.
                </p>
            </div><!-- Intro box end -->
  
            <div class="gap-20"></div>
  
            <div class="row">
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-trophy"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">We have a Reputation for Excellence</h3>
                      </div>
                  </div><!-- Service 1 end -->
                </div><!-- col end -->
  
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-brain"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">We Build the mindset</h3>
                      </div>
                  </div><!-- Service 2 end -->
                </div><!-- col end -->
            </div><!-- Content row 1 end -->
  
            <div class="row">
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-thumbs-up"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">Guided by Commitment</h3>
                      </div>
                  </div><!-- Service 1 end -->
                </div><!-- col end -->
  
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-users"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">A Team of Selfless Individuals</h3>
                      </div>
                  </div><!-- Service 2 end -->
                </div><!-- col end -->
            </div><!-- Content row 1 end -->
          </div><!-- Col end -->
  
          <div class="col-lg-6 mt-4 mt-lg-0">
            <h3 class="section-sub-title">Our <span class="alternate">Values</span> </h3>
            <p>Values are treasures that a people hold dear and by recreating these values, we hope to refresh and enliven them again in the African space. At recreating values, we have:</p>
  
            <div class="accordion accordion-group" id="our-values-accordion">
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Shown concern
                        </button>
                      </h2>
                  </div>
                
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#our-values-accordion">
                      <div class="card-body">
                        We have seen the quagmire which our African leaders have plunged us into.
                      </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Explored
                        </button>
                      </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
                      <div class="card-body">
                        We have explored the problems and we have seen that most of our leaders lacked some necessary values and thus were shameless in certain wrong decisions they took.
                      </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Evoked
                        </button>
                      </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#our-values-accordion">
                      <div class="card-body">
                        We hope to evoke a renewed interest and vigour in observing and practicing these values
                      </div>
                  </div>
                </div>
            </div>
            <!--/ Accordion end -->
  
          </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </section><!-- Feature are end -->
  
{% include "facts.html" with events=events projects=projects %}

<section id="news" class="news pb-0">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">Check out our recent engagements with the society</h2>
          <h3 class="section-sub-title">A call to be <span class="alternate">valufied</span></h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row">


        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="#" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static "images/visitations/3.jpg" %}" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="/events/preview/#winners-event" class="d-inline-block">A Value Session with Winners International School, Nkpor</a>
                </h4>
                <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> JUN 22, 2023
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 1st post col end -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="#" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static "images/visitations/4.jpg" %}" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="/events/preview/#creighton-event" class="d-inline-block">An RV Symposium on the role of creighton model fertility care system in napro technology </a>
                </h4>
                <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> APR 22, 2023
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 1st post col end -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="latest-post">
              <div class="latest-post-media">
                <a href="#" class="latest-post-img">
                    <img loading="lazy" class="img-fluid" src="{% static "images/visitations/5.jpg" %}" alt="img">
                </a>
              </div>
              <div class="post-body">
                <h4 class="post-title">
                    <a href="/events/preview/#correctional-event" class="d-inline-block">Outreach program by valufied members to a correctional center</a>
                </h4>
                <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i> JUN 15, 2023
                    </span>
                </div>
              </div>
          </div><!-- Latest post end -->
        </div><!-- 1st post col end -->


    </div>
  
    <!--/ Content row end -->

    <div class="general-btn text-center mt-4">
        <a class="btn btn-primary" href="/events/preview">See More Events</a>
    </div>

  </div>
  <!--/ Container end -->
</section>
<!--/ News end -->
  
  <section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
      <div class="row text-center">
          <div class="col-12">
            <h2 class="section-title">Value Drives Excellence </h2>
            <h3 class="section-sub-title">If We Value, <span class="alternate">we will have</span></h3>
          </div>
      </div>
      <!--/ Title row end -->
  
      <div class="row">
          <div class="col-lg-4">

            <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static "images/icon-image/truth1.png" %}" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Truth</a></h3>
                <p>Fairness, patroitic spirits and no corruption</p>
              </div>
          </div>

            <div class="ts-service-box d-flex">
                <div class="ts-service-box-img">
                  <img loading="lazy" src="{% static "images/icon-image/health1.png" %}" alt="service-icon">
                </div>
                <div class="ts-service-box-info">
                  <h3 class="service-box-title"><a href="#">Health</a></h3>
                  <p>Good hospitals, good insurance schemes, dedicated doctors and nurses</p>
                </div>
            </div>

            <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static "images/icon-image/agric1.png" %}" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">agriculture</a></h3>
                <p>Abundant food and no hunger</p>
              </div>
          </div>
  
          </div><!-- Col end -->
  
          <div class="col-lg-4 text-center mt-2">
            <img loading="lazy" class="img-fluid" src="{% static "images/icon-image/service-center1.png" %}" alt="service-avater-image">
          </div><!-- Col end -->
  
          <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">

            <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static "images/icon-image/hardwork1.png" %}"  alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Hardwork</a></h3>
                <p>No shortcuts to success, no craze for wealth, no cyber theives, no mediocrity but dedication </p>
              </div>
          </div> 

          
          <div class="ts-service-box d-flex">
            <div class="ts-service-box-img">
              <img loading="lazy" src="{% static "images/icon-image/stand_product.png" %}" alt="service-icon">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">standard products</a></h3>
              <p>No fake drugs and products</p>
            </div>
        </div>

            <div class="ts-service-box d-flex">
                <div class="ts-service-box-img">
                  <img loading="lazy" src="{% static "images/icon-image/environment2.png" %}" alt="service-icon">
                </div>
                <div class="ts-service-box-info">
                  <h3 class="service-box-title"><a href="#">clean environment</a></h3>
                  <p>Good refuse disposal, clean drainage and recycle wastes</p>
                </div>
            </div>

          </div><!-- Col end -->
      </div><!-- Content row end -->
  
    </div>
    <!--/ Container end -->
  </section><!-- Service end -->

  <section class="facts-area bg-sponsors overlay-white">
    <div class="container">
      <div class="facts-wrapper">
        <div class="row text-center">
          <div class="col-12">
            <h2 class="section-title">Institutions we've visited </h2>
            <h3 class="section-sub-title"> Cultivating change, <span class="alternate">Inspiring Futures</span>  </h3>
            
            
          </div>
      </div>
          <div class="row">
            <div class="col-sm-4 col-lg-3">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="{% static "images/clients/winners.jpg" %}" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->
            <div class="col-sm-4 col-lg-3">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="{% static "images/clients/cd.jpg" %}" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->
            <div class="col-sm-4 col-lg-3">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="{% static "images/clients/princewill.jpg" %}" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->
            <div class="col-sm-4 col-lg-3">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="{% static "images/clients/army.jpg" %}" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->


  
          </div> 
          <div class="row space-between">
            <div class="col-sm-4 col-lg-3 mx-auto">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="{% static "images/clients/gov.jpg" %}" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->
            <div class="col-sm-4 col-lg-3 mx-auto">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="{% static "images/clients/washington.jpg" %}" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->
            <div class="col-sm-4 col-lg-3 mx-auto">
              <figure class="clients-logo">
                  <a href="#!"><img loading="lazy" class="img-fluid" src="{% static "images/clients/ado.jpg" %}" alt="clients-logo" /></a>
              </figure>
            </div><!-- Client 1 end -->


  
          </div>

      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
  </section><!-- Facts end -->

  {% include "socials_join.html" %}

  <section id="news" class="news">
    <div class="container">
      <div class="row text-center">
          <div class="col-12">
            <h2 class="section-title">Values and Virtues</h2>
            <h3 class="section-sub-title">Recent Articles</h3>
          </div>
      </div>
      <!--/ Title row end -->
  
      <div class="row">
        {% for event in events|slice:":3" %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a href="{{ event.get_absolute_url }}" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="{{ event.main_image64 }}" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a href="{{ event.get_absolute_url }}" class="d-inline-block">{{ event.title }}</a>
                  </h4>
                  <div class="latest-post-meta">
                      <span class="post-item-date">
                        <i class="fa fa-clock-o"></i> {{ event.date|date:"d" }} {{ event.date|date:"N" }} {{ event.date|date:"Y" }}
                      </span>
                  </div>
                </div>
            </div><!-- Latest post end -->
          </div><!-- 1st post col end -->
            {% endfor %}
      </div>
      <!--/ Content row end -->
  
      <div class="general-btn text-center mt-4">
          <a class="btn btn-primary" href="/events/list">See All articles</a>
      </div>
  
    </div>
    <!--/ Container end -->
  </section>
  <!--/ News end -->

  

{% endblock %}