{% extends "home/base.html" %}
{% load static %}
{% block title %} Registration {% endblock %}

{% block meta_content %} "Recreating Values" {% endblock %}
{% block content %}

<section id="main-container" class="main-container">
    <div class="container">
  
      <div class="row">
        <div class="col-md-12">
          <h3 class="column-title">Coming soon</h3>
  
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey there!</strong> Our Registration portal would soon be up and running. Keep in touch.
            <a href="/homepage/" class="rv-close">Back to Home</a>
          </div>
  
        </div><!-- Col end -->
      </div><!-- Content row 2 -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->





{% endblock %}