{% load static %}
<section class="facts-area bg-sponsors-2 overlay-dark">
    <div class="container">
      <div class="row my-5">
        <div class="col-md-8">

          <div class="">
            <h2 class="text-white socials-join">Stay in the <span class="alternate">loop!</span></h2>
            <p class="text-white">Connect with our community for instant updates on our activites, seminars, events and more</p>
            <a href="https://api.whatsapp.com/send?phone=2348131043671&text=Hello+I'm+interested+in+Joining+to+the+recreating+values+platform" class="btn btn-whatsapp my-1"><i class="fab fa-whatsapp mx-1"></i> Join Whatsapp</a>
            <a href="https://www.facebook.com/Valentine.Obiagwu.recreating.values?mibextid=JRoKGi" class="btn btn-facebook my-1"><i class="fab fa-facebook-f mx-1"></i> Join Facebook</a>
            <a href="https://www.youtube.com/@recreatingvalues" class="btn btn-youtube my-1"><i class="fab fa-youtube mx-1"></i> Join Youtube</a>
          </div>
        </div>
      </div>
    </div>
    <div class="image-block"><img src="{% static "images/clients/qw2.png" %}" alt="" class=""></div>
  </section>