{% extends "home/base.html" %}
{% load static %}
{% block title %} Articles {% endblock %}


{% block content %}
<div id="banner-area" class="banner-area" style="background-image:url({% static "images/banner/banner10.jpg" %})">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Articles</h1> 
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Organization</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Articles</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 mb-5 mb-lg-0">
            {% for event in events %}
          <div class="post">
            <div class="post-media post-image">
              <img loading="lazy" src="{{ event.main_image64 }}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa {{ event.category.fa_class }}"></i><a href="#"> {{ event.category }}</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> {{ event.date|date:"d" }} {{ event.date|date:"N" }} {{ event.date|date:"Y" }}</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">{{ event.title }}</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>{{ event.details | truncatewords:50 }}</p>
              </div>
  
              <div class="post-footer">
                <a href="{{ event.get_absolute_url }}" class="btn btn-primary">Continue Reading</a>
              </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
            {% endfor %}

          <nav class="paging" aria-label="Page navigation example">
            <ul class="pagination">
            {% if events.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
              <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">{{ events.previous_page_number }}</a></li>
            {% endif %}
              <li class="page-item active "><a class="page-link" href="#">{{ events.number }}</a></li>
            {% if events.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">{{ events.next_page_number }}</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
              {% endif %}
            </ul>
          </nav>
  
        </div><!-- Content Col end -->
  
        <div class="col-lg-4">
  
          <div class="fb-page" data-href="https://www.facebook.com/Valentine.Obiagwu.recreating.values" data-action="like" data-tabs="timeline" data-width="" data-height="800" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Valentine.Obiagwu.recreating.values" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Valentine.Obiagwu.recreating.values">Fr. Valentine - Recreating Values</a></blockquote></div>
        </div><!-- Sidebar Col end -->
  
      </div><!-- Main row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
  

{% endblock %}