{% extends "home/base.html" %}
{% load static %}
{% block title %} Events {% endblock %}


{% block content %}

<div id="banner-area" class="banner-area" style="background-image:url({% static "images/banner/banner8.jpg" %})">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Events</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Organization</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Events</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 mb-5 mb-lg-0">

          <div id="winners-event" class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event1.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa fa-book"></i><a href="#"> Education</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> November 28, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">A Value Session with Winners International School, Nkpor</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>On November the 28th, the RV team visited the founder's Alma Mater, 
                  Winners International School, Nkpor where values where taught to the children. The Headmistress/Principal dressed in purple gown was so pleased 
                  to see her fruits as priest and a first class Pharmacist. Her joy knew no bounds..</p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event2.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa fa-book"></i><a href="#"> Education</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> September 01, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">A 30day Conversation with young people</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>The recreating values society gathered on Mondays from the 1st of September to the 30th to 
                  discuss pertinent values issues. With the belief that a society is sure of progress
                   when it prepares for the future, the meet aimed to think of that future. The event was streamed live on
                  www.facebook.com/Valentine.Obiagwu.recreating.values</p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div id="creighton-event" class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event3.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa-solid fa-person-chalkboard"></i><a href="#"> Seminar</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> July 1, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">An RV Symposium on the role of creighton model fertility care system in napro technology</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>The Recreating values organization hosted its second ever symposium on the role of creighton model fertility care system in napro technology.
                  Here, doctors and professionals in the medical and health sector talked about topics centered on better understanding fertility and management in the human system
                </p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div id="correctional-event" class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event4.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa-solid fa-building-columns"></i> Visitation</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> June 15, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">Outreach program by valufied members to a correctional center</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>The message from the RV organization got to ONITSHA CORRECTIONAL CENTRE. 
                  The members met with the inmates and highlighted certain values to 
                  them as they undergo their re-orientation. We instituted endowment 
                  prizes for best in creativity male and female and also sponsored some 
                  students for NABTEB Exam and some renovation work as the Deputy Comptroller
                   informed us when we toured the facility.
                  Cameras and phones were not allowed inside the centre. It was a rewarding 
                  experience for our team members as it was their first time entering.</p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event5.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa fa-book"></i><a href="#"> Education</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> June 2, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">Values @ Princewill Memorial High School Onitsha</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>In the cause to inculcate the spirit of values amongst the society, the RV organization visited Princewill Memorial High School Onitsha
                  and had sessions with the students, on ethics and the spirit of service. Pamphlets, stickers and banners were shared.
                </p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->

          <nav class="paging" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item active "><a class="page-link" href="#">1</a></li>

              <li class="page-item"><a class="page-link" href="/events/preview2/">2</a></li>
              <li class="page-item"><a class="page-link" href="/events/preview2/"><i class="fas fa-angle-double-right"></i></a></li>

            </ul>
          </nav>
  
        </div><!-- Content Col end -->
  
        <div class="col-lg-4">
            <div class="sidebar sidebar-right">
                <div class="widget recent-posts">
                  <h3 class="widget-title">Recent Posts</h3>
                  <ul class="list-unstyled">
                    {% for recent_post in recent %}
                    <li class="d-flex align-items-center">
                      <div class="posts-thumb">
                        <a href="{{ recent_post.get_absolute_url }}"><img loading="lazy" alt="img" src="{{ recent_post.main_image64 }}"></a>
                      </div>
                      <div class="post-info">
                        <h4 class="entry-title">
                          <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
                        </h4>
                      </div>
                    </li><!-- 1st post end-->
                    {% endfor %}
                  </ul>
      
                </div><!-- Recent post end -->
      
                <div class="widget">
                  <h3 class="widget-title">Categories</h3>
                  <ul class="arrow nav nav-tabs">
                    <li><a href="/events/health">Health</a></li>
                    <li><a href="/events/agriculture">Agriculture</a></li>
                    <li><a href="/events/infrastructure">Infrastructure</a></li>
                    <li><a href="/events/education">Education</a></li>
                    <li><a href="/events/government">Government</a></li>
                    <li><a href="/events/others">Others</a></li>
                  </ul>
                </div><!-- Categories end -->
      
                <div class="widget">
                  <h3 class="widget-title">Archives </h3>
                  <ul class="arrow nav nav-tabs">
                    <li><a href="/events/2023/12">December 2023</a></li>
                    <li><a href="/events/2023/11">November 2023</a></li>
                    <li><a href="/events/2023/10">October 2023</a></li>
                    <li><a href="/events/2023/9">September 2023</a></li>
                    <li><a href="/events/2023/8">August 2023</a></li>
                  </ul>
                </div><!-- Archives end -->
      
                <div class="widget widget-tags">
                  <h3 class="widget-title">Shortcuts </h3>
      
                  <ul class="list-unstyled">
                    <li><a href="/support">Donate</a></li>
                    <li><a href="/homepage/about/#ts-team">Team</a></li>
                    <li><a href="/projects/list/">Project</a></li>
                    <li><a href="/homepage/how_to">Faqs</a></li>
                    <li><a href="/events/list/">Facebook</a></li>
                    <li><a href="/homepage/about">About</a></li>
                    <li><a href="#">Upcoming</a></li>
                    <li><a href="/homepage/#ts-service-area">Values</a></li>
                  </ul>
                </div><!-- Tags end -->
      
      
              </div><!-- Sidebar end -->
  
            
        </div><!-- Sidebar Col end -->
  
      </div><!-- Main row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
  

{% endblock %}