{% extends "home/base.html" %}
{% load static %}
{% block title %} Events {% endblock %}


{% block content %}

<div id="banner-area" class="banner-area" style="background-image:url({% static "images/banner/banner8.jpg" %})">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Events</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Organization</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Events</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 mb-5 mb-lg-0">

          <div class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event6.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa fa-book"></i><a href="#"> Education</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> June 2, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">Recreating Values @ Army Day Secondary School</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>On June 2nd, the RV team visited Princewill Memorial High School 
                  It was a rewarding experience to the students as interactions on the
                  principles of values were made. Pamphlets, stickers and banners were also share amongst the students.</p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event7.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa fa-book"></i><a href="#"> Education</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> May 27, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">Values taught at Onitsha High School Onitsha</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>On May 27th, Onitsha High School welcomed the RV team for an enriching experience. 
                  The students benefited greatly from insightful discussions on the principles of values. 
                  The team distributed pamphlets, stickers, and banners to enhance the learning experience. 
                  It was a memorable occasion, 
                  fostering positive interactions and promoting essential values among the students.</p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event8.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa-solid fa-book"></i><a href="#"> Education</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> May 27, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">Teaching Values at Washington Memorial Grammer School</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>On May 27th, the RV team visited Washington Memorial Grammar
                   School, sparking engaging discussions on essential values. 
                   Students received pamphlets, stickers, and banners to reinforce these principles, 
                  creating a memorable and impactful experience.
                </p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event9.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa-solid fa-book"></i> Education</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i>  May 13, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">Outreach to Metu Memorial Secodary School Onitsha</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>The message reached Metu Memorial School, Onitsha. 
                  They received the message of Value with joy and gladness. 
                  They received a pamphlet each, free of charge and our stickers 
                  and banner of Value mounted at a strategic position in their school.</p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->
          <div class="post">
            <div class="post-media post-image">
                <img loading="lazy" src=" {% static "images/news/event10.jpg" %}" class="img-fluid" alt="post-image">
            </div>
  
            <div class="post-body">
              <div class="entry-header">
                <div class="post-meta">
                  <span class="post-author">
                    <i class="fa fa-person-chalkboard"></i><a href="#"> Seminar</a>
                  </span>
                  <span class="post-cat">
                    <i class="far fa-folder-open"></i><a href="#"> event </a>
                  </span>
                  <span class="post-meta-date"><i class="far fa-calendar"></i> December 2, 2023</span>
                </div>
                <h2 class="entry-title">
                  <a href="#">An RV(Recreating Values) Seminar on Repositioning our Attitude to Nation Building</a>
                </h2>
              </div><!-- header end -->
  
              <div class="entry-content">
                <p>The first ever recreating values seminar was held on 4th of December 2022 and was themed "repositioning our attitude to
                  nation building". Here, the importance of values system in nation building was stressed.
                </p>
                </div>
  
            </div><!-- post-body end -->
          </div><!-- 1st post end -->

          <nav class="paging" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="/events/preview/"><i class="fas fa-angle-double-left"></i></a></li>
              <li class="page-item"><a class="page-link" href="/events/preview/">1</a></li>

              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              

            </ul>
          </nav>
  
        </div><!-- Content Col end -->
  
        <div class="col-lg-4">
          <div class="sidebar sidebar-right">
              <div class="widget recent-posts">
                <h3 class="widget-title">Recent Posts</h3>
                <ul class="list-unstyled">
                  {% for recent_post in recent %}
                  <li class="d-flex align-items-center">
                    <div class="posts-thumb">
                      <a href="{{ recent_post.get_absolute_url }}"><img loading="lazy" alt="img" src="{{ recent_post.main_image64 }}"></a>
                    </div>
                    <div class="post-info">
                      <h4 class="entry-title">
                        <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
                      </h4>
                    </div>
                  </li><!-- 1st post end-->
                  {% endfor %}
                </ul>
    
              </div><!-- Recent post end -->
    
              <div class="widget">
                <h3 class="widget-title">Categories</h3>
                <ul class="arrow nav nav-tabs">
                  <li><a href="/events/health">Health</a></li>
                  <li><a href="/events/agriculture">Agriculture</a></li>
                  <li><a href="/events/infrastructure">Infrastructure</a></li>
                  <li><a href="/events/education">Education</a></li>
                  <li><a href="/events/government">Government</a></li>
                  <li><a href="/events/others">Others</a></li>
                </ul>
              </div><!-- Categories end -->
    
              <div class="widget">
                <h3 class="widget-title">Archives </h3>
                <ul class="arrow nav nav-tabs">
                  <li><a href="/events/2023/12">December 2023</a></li>
                  <li><a href="/events/2023/11">November 2023</a></li>
                  <li><a href="/events/2023/10">October 2023</a></li>
                  <li><a href="/events/2023/9">September 2023</a></li>
                  <li><a href="/events/2023/8">August 2023</a></li>
                </ul>
              </div><!-- Archives end -->
    
              <div class="widget widget-tags">
                <h3 class="widget-title">Shortcuts </h3>
    
                <ul class="list-unstyled">
                  <li><a href="/support">Donate</a></li>
                  <li><a href="/homepage/about/#ts-team">Team</a></li>
                  <li><a href="/projects/list/">Project</a></li>
                  <li><a href="/homepage/how_to">Faqs</a></li>
                  <li><a href="/events/list/">Facebook</a></li>
                  <li><a href="/homepage/about">About</a></li>
                  <li><a href="#">Upcoming</a></li>
                  <li><a href="/homepage/#ts-service-area">Values</a></li>
                </ul>
              </div><!-- Tags end -->
    
    
            </div><!-- Sidebar end -->

          
      </div><!-- Sidebar Col end -->
  
      </div><!-- Main row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->
  

{% endblock %}